{% extends "base.html" %}
{% load i18n %}

{% block title %}Reset password{% endblock %}

{% block content %}

    {% if validlink %}

        <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

        <form method="post">{% csrf_token %}
        {{ form.as_p }}
        </form>

    {% else %}

        <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

    {% endif %}

{% endblock %}
