.fastview-filter__tree {
  $detail-indent: 20px;
  margin: 0 0 0 $detail-indent;
  list-style: none;

  li {
    padding-left: $detail-indent;

    details {
      margin-left: -$detail-indent;
    }
  }
}