.fastview-list {
  display: flex;
  width: 100%;
}

.fastview-list-filter {
  flex: 0 0 auto;
  width: 20em;
  padding: 0 1em;
  order: 2;
}

.fastview-list-data {
  flex: 1 1 auto;
  order: 1;
}


.fastview-pagination {
  ul {
    margin: 1rem 0;
    padding: 0;
    list-style:none;
  }
  li {
    display: inline;
  }
  span, a {
    margin: 0 0.5rem;
  }
}
